:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal; 
}

html {
    font-size: 13px;
}

body {
    background-color: var(--Grey-900);
    position: relative;
    width: 97vw;
    height: 97vh;
}

h1 {
    margin-bottom: 5px;
}

img {
    border-radius: 50%;
    width: 76px;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Grey-800);
    color: var(--White);
    font-family: Inter;
    text-align: center;
    width: 240px;
    padding: 30px;
    border-radius: 8px;
    font-size: 0.9em;
    padding-bottom: 10px;
    box-shadow: 3px 3px 10px rgba(32, 31, 31, 0.336);
}

#city {
    margin-top: 5px;
    color: var(--Green);
    font-weight: 700;
}

#quotation {
    margin-top: 30px;
}

.button {
    display: block;
    padding: 13px;  
    border-radius: 7px;
    margin: 16px 0px;
    background-color: var(--Grey-700);
    border: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.button:hover {
    background-color: var(--Green);
    color: var(--Grey-900);
}

.button:active {
    background-color: var(--Grey-700);
    color: var(--White);
}